<div class="container">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onSubmit()">
        <input type="text" [(ngModel)]="otp" name="otp" required placeholder="OTP" />
        <div *ngIf="otpError" class="error">{{ otpError }}</div>

        <div class="password-field">
            <input [type]="newPasswordVisible ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword"
                required placeholder="New Password" />
            <span class="toggle-eye" (click)="newPasswordVisible = !newPasswordVisible">
                <i class="fa" [ngClass]="newPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
        </div>
        <div *ngIf="newPasswordError" class="error">{{ newPasswordError }}</div>


        <button type="submit" [disabled]="loadingService.loading$ | async">Reset Password</button>

    </form>

    <p *ngIf="backendMessage" class="error">{{ backendMessage }}</p>

    <button (click)="location.back()">← Back</button>
</div>