<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <input type="email" [(ngModel)]="email" name="email" required placeholder="Email"/>
    <div *ngIf="emailError" class="error">{{ emailError }}</div>

<div class="password-field">
  <input 
    [type]="passwordVisible ? 'text' : 'password'" 
    [(ngModel)]="password" 
    name="password" 
    required
    placeholder="Password"
  />
  <span class="toggle-eye" (click)="togglePasswordVisibility()">
    <i class="fa" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
  </span>
</div>
<div *ngIf="passwordError" class="error">{{ passwordError }}</div>


    <button type="submit" [disabled]="loadingService.loading$ | async">Login</button>
  </form>

  <p><a routerLink="/forgot-password">Forget Password?</a></p>
  <p><a routerLink="/register">Haven't Account? Register</a></p>

  <p *ngIf="backendError" class="error">{{ backendError }}</p>
</div>
